body {
	background: #fff;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -1px;
	border: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Helvetica;
	font-variant: normal;
	height:100%;
}

button {
	background: rgba(50, 90, 150, 0.3);
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-left: 1px solid rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid rgba(50, 90, 150, 0.9);
	border-right: 1px solid rgba(50, 90, 150, 0.9);		
	border-radius: 2px;
	color: rgba(50, 90, 150, 0.9);
	cursor: pointer;
	margin-rigt: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

button:hover {
	background: rgba(50, 90, 150, 0.9);
	border-top: 1px solid rgba(50, 90, 150, 0.9);
	border-left: 1px solid rgba(50, 90, 150, 0.9);
	border-bottom: 1px solid rgba(50, 90, 150, 0.9);
	border-right: 1px solid rgba(50, 90, 150, 0.9);	
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	color:#fff;
}
button.disable {
	background: rgba(50, 90, 150, 0.3);
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-left: 1px solid rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid rgba(50, 90, 150, 0.9);
	border-right: 1px solid rgba(50, 90, 150, 0.9);		
	border-radius: 2px;
	color: rgba(50, 90, 150, 0.9);
	cursor: pointer;
	margin: 5px;
}

button.disable:hover {
	background: rgba(50, 90, 150, 0.3);
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-left: 1px solid rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid rgba(50, 90, 150, 0.9);
	border-right: 1px solid rgba(50, 90, 150, 0.9);		
	border-radius: 2px;
	color: rgba(50, 90, 150, 0.9);
	cursor: pointer;
	margin: 5px;
}

div {
	border-width: 0;
	padding: 0;
	margin: 0;
}

div.popup {
	background-color : #888;
	position:absolute;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	border: 1px solid #999;
	border-radius:4px;
}
div.popup .button{

}

div.popup td.left{
	width:100%;
}
div.popup td.right{
	width:1%;
}

div.popup .dragged{
	width:100%;
	height:25px;
}
html{
	height:100%;
}
input {
	border: 1px solid #999;
	border-bottom: 1px solid #999;
	border-radius: 2px;
	height: 20px;
	padding: 3px;
	width: 200px;
}

input:hover,input:focus {
	border: 1px solid #777;
	box-shadow: 0 0 5px orange;
}

input.name-search {
	margin-top : 5px;
	margin-bottom : 3px;
	height: 26px;
	width : 415px;
	maxlength : 1024;
}
label {
	font-weight:bold;
}

table {
	border-width: 0;
	width : 100%;
}

td {
	padding:0px;
	vertical-align: center;
	text-align: left;
}