
.header-item-logo {
	font-size: 24px;
	font-family: Helvetica;
	font-variant: bold;
	margin-left:-1px;
}

.exps-item-icon { /**td**/
	width:1%;
	padding-right:6px;
}

.exps-item-actions {
	width:1%;
	align:right;	
}
.exps-item-timestamp {
	font-size: 9px;
	color:  rgba(0, 0, 0, 0.5);
}
.exps-item-expbody {
	color:#0754A6;
	font-weight:bold;
}

.uel-item-icon { /**td**/
	width:1%;
	padding-right:6px;
}

.uel-item-actions {
	width:1%;
	align:right;	
}
.uel-item-timestamp {
	font-size: 9px;
	color: rgba(0, 0, 0, 0.5);
}
.uel-item-expbody {
	color:#0754A6;
	font-weight:bold;
}

.wgt-ExpItemView,
.wgt-UserExpItemView {
	border-left : 2px solid white;
	border-bottom : 1px solid rgba(0, 0, 0, 0.05);
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left:0px;
}
.wgt-ExpItemView table {
	width:100%;
}
.wgt-ExpItemView:hover,
.wgt-UserExpItemView:hover {
	background: rgba(0, 0, 0, 0.0);
	border-left : 2px solid rgba(0, 0, 0, 0.0);
	border-bottom : 1px solid rgba(0, 0, 0, 0.5);
	
}

.wgt-ExpItemView td {
	vertical-align: bottom;
}

.wgt-ExpItemView td.icon {
	vertical-align: top;
}


.wgt-UserExpView{
	margin-top : 10px;
	background: rgba(0, 0, 0, 0.0);
	border-right : 2px solid rgba(0, 0, 0, 0.0);
	border-bottom : 1px solid rgba(0, 0, 0, 0.05);
}

.wgt-UserExpView.selected,
.wgt-UserExpView:hover{
	background: rgba(0, 0, 0, 0.0);
	border-right : 2px solid rgba(0, 0, 0, 0.0);
	border-bottom : 1px solid rgba(0, 0, 0, 0.5);
	
}


