<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Fun</display-name>

	<!-- First servlet -->
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>com.fs.uicore.impl.testsupport.ContainerAndBridgeServlet</servlet-class>
		<init-param>
			<param-name>container</param-name>
			<!-- -->
			<param-value>/boot/test-spim2.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>bosh-proxy</servlet-name>
		<servlet-class>com.fs.uixmpp.core.impl.testsupport.BoshProxyServlet</servlet-class>
		<init-param>
			<param-name>remoteServer</param-name>
			<param-value>localhost</param-value>
		</init-param>
		<init-param>
			<param-name>remotePort</param-name>
			<param-value>5280</param-value>
		</init-param>
		<init-param>
			<param-name>remotePath</param-name>
			<param-value>/http-bind</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Mappings -->
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/uicore/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bosh-proxy</servlet-name>
		<url-pattern>/http-bind</url-pattern>
	</servlet-mapping>
</web-app>