other {
	border: 1px solid red;
}


#repo-header .icon.clone {
  /* img/icons/pdl/clone.png */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABV0RVh0Q3JlYXRpb24gVGltZQAxMi83LzEyiCJQPAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAC3SURBVDiN7ZOxFYIwFEVv0F5HcAMtKXEDRtAJ4gg6gb4R2MARaOkYQTtKmQCbcE6IEDnW3uon/7138k8SQwRrbefKvaRyTJPEAubwDwDTF9baNVAC2y+eJ7CT9BoEuJANUAOrCXMLZJLqfmMwgqQHkDnhGLlvBliEiqqqmjRNGyAPWkdJ91Bv+tcmKRznBFzd8iLpHPS7jxF8JN2AAihCs89yquFCDrF+9ARzMd6P+4mE6SubQ/sGU3s24sb+loYAAAAASUVORK5CYII=');

}