
a {
	color: #325a96;
	cursor: pointer;
	padding: 0px;
}

a:hover {
	background: #325a96;
	color: #FFFFFF;
	text-decoration: underline;
}

body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Helvetica;
	font-variant: normal;
	height:100%;

}

button,
select {
	color: #606060;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	font-size: 11px;
	margin:0px;
    text-decoration: none;
    padding: 3px 6px;
    border: 1px solid #d0d0d0;
    outline : 1px solid #ffffff;
    border-radius: 2px;
    background: #eeeeee;
    text-shadow: 0 1px 0 #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
}

button.disable,
button.disable:hover {
	color: #dddddd;
	border: 1px solid #dedede;
}

button:hover,
select:hover {
	background: #f8f8f8;
	color: #303030;
    border: 1px solid #a0a0a0;
    box-shadow: 0 1px 1px #eeeeee;
}

div {
	border-width: 0;
	padding: 0;
	margin: 0;
}
div:focus {
    border: solid 2px red;
    outline: none;
}

div.popup .button{

}

div.popup td.left{
	width:100%;
}
div.popup td.right{
	width:1%;
}

div.popup .dragged{
	width:100%;
	height:25px;
}
hr{
	border: 0px inset #fafafa;
}
html{
	height:100%;
}
input,
textarea {
	border: 1px solid #dddddd;
	height: 20px;
	padding: 3px;
	width: 200px;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus  {
	outline: none;
	border: 1px solid orange;
}

input.date {
	width: 66px;
}

label {
	font-weight:bold;
}

table {
	border-width: 0;
	width : 100%;
}

td {
	padding:0px;
	vertical-align: center;
	text-align: left;
}
textarea {
	width: 450px;
	height: 120px;
}

