
a {
	color: #325a96;
	cursor: pointer;
	padding: 3px;
}

a:hover {
	background: #325a96;
	color: #fff;
	text-decoration: underline;
}

body {
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAmSURBVBhXY/gPBW9+wlgQmhFEMGABTOhib39BRAjrgKmEmYBTBwAZiSeZb8/ORAAAAABJRU5ErkJggg==);	margin-left: 0px;
	margin-right: 0px;
	margin-top: -1px;
	border: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Helvetica;
	font-variant: normal;
	height:100%;
	color: #505050;
}

button {
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;	
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;		
	background: #7197D0;
	color: #325a96;
	cursor: pointer;
	font-weight: bold;
	margin-rigt: 1px;
	margin-top: 1px;
}

button:hover {
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;	
	border-bottom: 1px solid #325a96;
	border-right: 1px solid #325a96;	
	box-shadow: 0 1px 1px #C7C7C7;
	border-radius: 3px;
	color:#fff;
}
button.disable {
	color: #505050;
}

button.disable:hover {
	background: #7197D0;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;	
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;	
	cursor: default;
	box-shadow: none;
}

div {
	border-width: 0;
	padding: 0;
	margin: 0;
}
div:focus {
    border: solid 2px red;
    outline: none;
}

div.popup .button{

}

div.popup td.left{
	width:100%;
}
div.popup td.right{
	width:1%;
}

div.popup .dragged{
	width:100%;
	height:25px;
}
html{
	height:100%;
}
input {
	border: 1px solid #999;
	border-bottom: 1px solid #999;
	border-radius: 2px;
	height: 20px;
	padding: 3px;
	width: 200px;
}

input:hover,input:focus {
	border: 1px solid #777;
	box-shadow: 0 0 5px orange;
}

input.name-search {
	margin-top : 5px;
	margin-bottom : 3px;
	height: 26px;
	width : 415px;
	maxlength : 1024;
}
label {
	font-weight:bold;
}

table {
	border-width: 0;
	width : 100%;
}

td {
	padding:0px;
	vertical-align: center;
	text-align: left;
}
textarea {
	border: 1px solid #999;
	border-bottom: 1px solid #999;
	border-radius: 2px;
	padding: 3px;
	width: 450px;
	height: 120px;
}

textarea:hover,textarea:focus {
	border: 1px solid #777;
	box-shadow: 0 0 5px orange;
}