
a {
	color: #325a96;
	cursor: pointer;
	padding: 3px;
}

a:hover {
	background: #325a96;
	color: #FFFFFF;
	text-decoration: underline;
}

body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Helvetica;
	font-variant: normal;
	height:100%;

}

button,
button.disable,
button.disable:hover {
	color: #505050;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	font-size: 11px;
    text-decoration: none;
    padding: 3px 6px;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 2px;
    background: #f5f5f5;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DDDDDD'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#DDDDDD)); /*  WebKit */
    background: -moz-linear-gradient(top,  #EEEEEE, #DDDDDD);
    border-color: #b5b5b5 #a1a1a1 #8f8f8f;
    text-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    -moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}

button:hover {
	background: #f4f4f4;
	color: #000000;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#EEEEEE'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#EEEEEE)); /*  WebKit */
    background: -moz-linear-gradient(top,  #DDDDDD, #EEEEEE);
    border-color: #989898 #8e8e8e #878787;
    text-shadow: 0 1px 0 #fdfdfd;
    -webkit-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
}

div {
	border-width: 0;
	padding: 0;
	margin: 0;
}
div:focus {
    border: solid 2px red;
    outline: none;
}

div.popup .button{

}

div.popup td.left{
	width:100%;
}
div.popup td.right{
	width:1%;
}

div.popup .dragged{
	width:100%;
	height:25px;
}
html{
	height:100%;
}
input {
	border: 1px solid #999;
	border-bottom: 1px solid #999;
	border-radius: 2px;
	height: 20px;
	padding: 3px;
	width: 200px;
}

input:hover,input:focus {
	border: 1px solid #777;
	box-shadow: 0 0 5px orange;
}

input.date {
	width: 66px;
}

label {
	font-weight:bold;
}

table {
	border-width: 0;
	width : 100%;
}

td {
	padding:0px;
	vertical-align: center;
	text-align: left;
}
textarea {
	border: 1px solid #999;
	border-bottom: 1px solid #999;
	border-radius: 2px;
	padding: 3px;
	width: 450px;
	height: 120px;
}

textarea:hover,textarea:focus {
	border: 1px solid #777;
	box-shadow: 0 0 5px orange;
}