
a.user-icon {
	padding:0px;
}
a.user-icon img{ /*user image*/
	width:26px;
	height:26px;
	border-radius: 3px;
}

a.user-icon:hover img {
	
}

a.exp-icon img{ /*exp image*/
	width:26px;
	height:26px;
	border-radius: 3px;
}

a.exp-label {
	font-weight: bold;	
}


.header-item-logo {
	font-size: 22px;
	font-variant: bold;
	margin-left:-1px;
}

.exps-item {
	border-left : 2px solid white;
	margin-top: 0px;
	border-top : 1px solid #EBEBEB;
	padding-bottom: 6px;
	padding-left:0px;
}

.exps-item-count{
	width:1%;
	font-size:20px;
}


.exps-item:hover {
	border-left : 2px solid #646464;
	background: #DCDCDC;
}

.exps-item-usericon { /**td**/
	width:1%;
	padding-right:6px;
	vertical-align: top;
}

.exps-item-expicon { /**td**/
	width:1%;
	padding-left:6px;
	padding-right:6px;
	vertical-align: bottom;
}

.exps-item-actions {
	width:1%;
	align:right;	
}
.exps-item-timestamp {
	font-size: 9px;
	color:  #7A7A7A;
}
.exps-item-exptitle {
	
	font-size : 14px;
	font-weight: bold;
}
.exps-item-expbody {
	
}

.facebook-login-button,
.facebook-login-button:hover {
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yf/r/S-DbSHszr4D.png);
	background-repeat: no-repeat;
	display:inline-block;
	background-color:#5F78AB;
	color:#FFFFFF;
	height:22px;
	font-weight:bold;
	background-position:0 -133px;
	padding-left:25px;
	border-spacing:0;
	border-bottom:1px solid #1A356E;
	border-top:1px solid #29447E;
	border-right:1px solid #29447E;
	border-collapse:collapse;
	
}

.myexp-connected {
	vertial-align:top;
	height:100%;
}
.myexp-messagelist {
	width:600px;
}
.myexp-message {
	margin-bottom : 6px;
	border-top : 1px solid #EBEBEB;
	border-radius: 3px;
}

.myexp-message-td1{/*message td*/
	width:100%;
}

.myexp-message-body {
	font-weight:normal;
	margin : 6px;
}

.myexp-message-nick {
	font-size :9px;
	color:#7A7A7A;
	text-align:right;
}

.myexp-message-exptitle {
	font-size:9px;
	color:#7A7A7A;
	text-align:right;
}

.myexp-message-timestamp {
	font-size:9px;
	color:#7A7A7A;
	text-align:left;
	white-space: nowrap;
}

.myexp-textarea {
	text-align:left;
}

.nick {
	font-size: 22px;
}

.uel-item {
	border-left : 2px solid white;
	border-top : 1px solid #EBEBEB;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left:0px;
}

.uel-item-count{
	width:1%;
}

.uel-item.selected,
.uel-item:hover {
	border-left : 2px solid #646464;
	background: #DCDCDC;
}

.uel-item-expicon { /**td**/
	width:1%;
	padding-left:6px;
}

.uel-item-usericon { /**td**/
	width:1%;
	padding-right:6px;
}

.uel-item-actions {
	width:1%;
	align:right;	
}
.uel-item-timestamp {
	font-size: 9px;
	color: #7A7A7A;
}
.uel-item-exptitle {
	font-size: 14px;
	font-weight:bold;
}

.uel-item-expbody {
	
}

.user-info td.seperator {
	padding: 2px;
	border-right: 1px solid #EBEBEB;
}

.user-info td.last{/*empty,space holder*/
	width: 100%;
}

.user-info td.user-icon {
	vertical-align: top;
}




