
a.user-icon {
	padding:0px;
}
a.user-icon img{ /*user image*/
	width:26px;
	height:26px;
	border-radius: 3px;
}

a.user-icon:hover img {
	width:52px;
	height:52px;
}

.header-item-logo {
	font-size: 24px;
	font-family: Helvetica;
	font-variant: bold;
	margin-left:-1px;
}

.exps-item {
	border-left : 2px solid white;
	border-top : 1px solid rgba(0, 0, 0, 0.05);
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left:0px;
}

.exps-item:hover {
	background: rgba(0, 0, 0, 0.0);
	border-left : 2px solid rgba(0, 0, 0, 0.0);
	border-top : 1px solid rgba(50, 90, 150, 0.1);
	background: rgba(50, 90, 150, 0.1);
}
.exps-item-icon { /**td**/
	width:1%;
	padding-right:6px;
	vertical-align: top;
}

.exps-item-actions {
	width:1%;
	align:right;	
}
.exps-item-timestamp {
	font-size: 9px;
	color:  rgba(0, 0, 0, 0.5);
}
.exps-item-expbody {
	color:#0754A6;
	font-weight:bold;
}

.facebook-login-button,
.facebook-login-button:hover {
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yf/r/S-DbSHszr4D.png);
	background-repeat: no-repeat;
	display:inline-block;
	background-color:#5F78AB;
	color:#FFFFFF;
	height:22px;
	font-weight:bold;
	background-position:0 -133px;
	padding-left:25px;
	border-spacing:0;
	border-bottom:1px solid #1A356E;
	border-top:1px solid #29447E;
	border-right:1px solid #29447E;
	border-collapse:collapse;
	
}

.myexp-connected {
	vertial-align:top;
	height:100%;
}
.myexp-messagelist {
	width:600px;
}
.myexp-message {
	margin-bottom : 6px;
	background: rgba(50, 90, 150, 0.1);
	border-radius: 3px;
}

.myexp-message-td1{/*message td*/
	width:100%;
}

.myexp-message-body {
	font-weight:normal;
	margin : 6px;
}

.myexp-message-nick {
	font-size :9px;
	color:rgba(0, 0, 0, 0.5);
	text-align:right;
}

.myexp-message-expbody {
	font-size:9px;
	color:rgba(0, 0, 0, 0.5);
	text-align:right;

}

.myexp-message-timestamp {
	font-size:9px;
	color:rgba(0, 0, 0, 0.5);
	text-align:left;
	white-space: nowrap;
}

.myexp-textarea {
	text-align:left;
}

.uel-item {
	border-left : 2px solid white;
	border-top : 1px solid rgba(0, 0, 0, 0.05);
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left:0px;
}
.uel-item.selected,
.uel-item:hover {
	background: rgba(0, 0, 0, 0.0);
	border-left : 2px solid rgba(0, 0, 0, 0.0);
	border-top : 1px solid rgba(50, 90, 150, 0.1);
	background: rgba(50, 90, 150, 0.1);
}

.uel-item-icon { /**td**/
	width:1%;
	padding-right:6px;
}

.uel-item-actions {
	width:1%;
	align:right;	
}
.uel-item-timestamp {
	font-size: 9px;
	color: rgba(0, 0, 0, 0.5);
}
.uel-item-expbody {
	color:#0754A6;
	font-weight:bold;
}




.xwgt-UserExpView{
	margin-top : 10px;
	background: rgba(0, 0, 0, 0.0);
	border-right : 2px solid rgba(0, 0, 0, 0.0);
	border-bottom : 1px solid rgba(0, 0, 0, 0.05);
}

.xwgt-UserExpView.selected,
.xwgt-UserExpView:hover{
	background: rgba(0, 0, 0, 0.0);
	border-right : 2px solid rgba(0, 0, 0, 0.0);
	border-bottom : 1px solid rgba(0, 0, 0, 0.5);
	
}


