
a.user-icon {
	padding:0px;
}
a.user-icon img{ /*user image*/
	width:26px;
	height:26px;
	border-radius: 3px;
}

a.user-icon:hover img {
	
}

a.exp-icon img{ /*exp image*/
	width:26px;
	height:26px;
	border-radius: 3px;
}

a.exp-label {
	font-weight: bold;	
}


.header-item-logo {
	font-size: 22px;
	font-variant: bold;
	margin-left:-1px;
}

.exps-item {
	border-left : 2px solid white;
	margin-top: 0px;
	border-top : 1px solid #EBEBEB;
	padding-bottom: 6px;
	padding-left:0px;
}

.exps-item-count{
	width: 1%;
	text-align: right;
}

.exps-item-count .count{
	font-weight:bold;
}

.exps-item-count .info{
	font-size:6px;
}

.exps-item:hover {
	border-left : 2px solid #dcdcdc;
	background: #fafafa;
}

.exps-item-usericon { /**td**/
	width:1%;
	padding-right:6px;
	vertical-align: top;
}

.exps-item-expicon { /**td**/
	width:1%;
	padding-left:6px;
	padding-right:6px;
	vertical-align: bottom;
}

.exps-item-actions {
	width:1%;
	align:right;	
	vertical-align:bottom;
}
.exps-item-timestamp {
	font-size: 9px;
	color:  #7A7A7A;
}
.exps-item-exptitle {
	font-weight: bold;
}
.exps-item-expbody {
	
}

.exps-item button{
	display: none;
}

.exps-item:hover button{
	display: block;
}


.expm-list {
	height: 300px;
	width: 600px;
	overflow: hidden;
}

.expm-list:hover {
	overflow: auto;
}

.facebook-login-button,
.facebook-login-button:hover {
	background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yf/r/S-DbSHszr4D.png);
	background-repeat: no-repeat;
	display:inline-block;
	background-color:#5F78AB;
	color:#FFFFFF;
	height:22px;
	font-weight:bold;
	background-position:0 -133px;
	padding-left:25px;
	border-spacing:0;
	border-bottom:1px solid #1A356E;
	border-top:1px solid #29447E;
	border-right:1px solid #29447E;
	border-collapse:collapse;
	
}

/*The td contains list of connected exp*/

.cexplist-td{
	width:200px;
}

.cexp-item-td {
	vertical-align:top;	
	border-left: 1px solid #EBEBEB;
}

.cexp-item {
	border: 1px solid #EBEBEB;
	
}

.cexp-item:hover {
	background: #DCDCDC;
}

.cexp-item .user-nick {	
	font-weight: normal;
	font-size: 9px;
}

.expm {
	margin-bottom : 6px;
	border-top : 1px solid #EBEBEB;
	border-radius: 3px;
}

.expm-td1{/*message td*/
	width:100%;
}

.expm-body {
	font-weight:normal;
	margin : 6px;
}

.expm-nick {
	font-size :9px;
	color:#7A7A7A;
	text-align:right;
}

.expm-exptitle {
	font-size:9px;
	color:#7A7A7A;
	text-align:right;
}

.expm-timestamp {
	font-size:9px;
	color:#7A7A7A;
	text-align:left;
	white-space: nowrap;
}

.expmi-textarea {
	text-align:left;
}

.nick {
	font-size: 22px;
}


.search input {
	margin-top : 5px;
	margin-bottom : 3px;
	height: 26px;
	width : 415px;
	maxlength : 1024;
}

.uel-item {
	border-left : 2px solid white;
	border-top : 1px solid #EBEBEB;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left:0px;
}


.uel-item-count{
	width:1%;
	text-align: right;
}

.uel-item-count .info {
	font-size: 6px;
}

.uel-item-expcount .count {
	font-size: 16px;
}

.uel-item-msgcount .count {
	font-size: 16px;
}

.uel-item-msgcount.gt0 .count{	
	color : #FFFFFF;
	background-color: #505050;	
}

.uel-item.selected,
.uel-item:hover {
	border-left : 2px solid #dcdcdc;
	background: #fafafa;
}

.uel-item-expicon { /**td**/
	width:1%;
	padding-left:6px;
}

.uel-item-usericon { /**td**/
	width:1%;
	padding-right:6px;
}

.uel-item-actions {
	width:1%;
	vertical-align:bottom;
}
.uel-item-timestamp {
	font-size: 9px;
	color: #7A7A7A;
}
.uel-item-exptitle {
	font-weight:bold;
}

.uel-item-expbody {
	
}

.uel-item button{
	display: none;
}

.uel-item:hover button{
	display: block;
}

.user-info td.seperator {
	padding: 2px;
	border-right: 1px solid #EBEBEB;
}

.user-info td.last{/*empty,space holder*/
	width: 100%;
}

.user-info td.user-icon {
	vertical-align: top;
}




