.adjusters {
	background: #fff;
	position: absolute;
	display: none;
}

.adjusters.visible {
	display: block;
}

.adjuster {
	cursor: pointer;
}

.body-tabber {
	background-color: #FFFFFF;
	border-left: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	
}
.bottom-list {
	padding: 6px;
	background-color: #C7C7C7;
}

.bottom-list td.vlist-item{
	text-align: center;
}

.bottom-bar {	
    color: #ccc;
}

.bottom-bar td.center{
	text-align: center;
}

.bottom-copyright{
	width:100%;
	text-align:center;
    font-size: 9px;
  	color:  #7D7D7D;
}
/**
Console View
**/
.console {
	height: 300px;
	width: 800px;
	overflow: hidden;
	color: #525252;
	background-color: #ADADAD;
	box-shadow: 0 1px 1px #ADADAD;
}

.console:hover {
	overflow: auto;
}

.console table {
	margin: 3px;
	padding: 3px;
	border: 0px;
}

.console td {
	white-space: nowrap;
	
}

.disconnected {
	background-color: #325A96;
	position:absolute;
	width:100%;
	height:100%;
	opacity: 0.8;
	text-align: center;
	vertical-align: middle;
}

.disconnected label{
	color:#fff;
	background-color: #325A96;
	font-size: 16px;
	font-weight: bold;
}

.endpoint-busy-indicator {
	position: absolute;
	border: 2px solid orange;
	width: 100px;
	height: 20px;
	margin: -10px 0 0 -50px;
    top: 50%;
    left: 50%;
    text-align: center;
    vertical-align: middle;
}

.error-infos {
	color: red;
	width: 100%;
	/*border:1px solid rgba(150, 0, 0, 0.6);*/
}

.error-id {
	font-size: 9px;
	color:  #7D7D7D;
}

.error-code {
	font-size: 9px;
	color:  #7D7D7D;
}


.header-bar td.left {
	float: left;
}

.header-bar td.right {
	padding-right: 0px;
	text-align: right;
}
.header-item {
	
	border: 1px solid #034F82;
	border-radius: 2px;
	color: #ccc;
	cursor: pointer;
	float: right;
	margin-top: -2px;
	margin-bottom: 0px;
	margin-left: 1px;
	padding-top: 3px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 3px;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
	white-space: nowrap;

}

.header-item.selected,.header-item:hover {
	background: #034F82;
	background: -moz-linear-gradient(top, #034F82 25%, #999 50%);
	border-color: #034F82;
	text-shadow: 0 1px 0 #034F82;
	color: #fff;
}

.loader-loading{
	position:absolute;
	color: #325A96;
	width:100%;
	height:100%;
	text-align: center;
	vertical-align: middle;
}

.more{
	align: center;
	width: 100%;
}
.opacities {
	opacity: 0.4;
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 1px solid orange;
}

.opacities * {
	position: absolute;
}

.visible {
	display: block;
}

.vlist-item{
	text-align: left;
}

.tabber-layout-right {
	vertical-align: top;
	padding-left: 15px;
}

.tabber-layout-left {
	border-right: 1px solid #F0F0F0;
}

.invisible {
	display: none;
}

.elo-Canvas.invisible {
	display: block;
}

.elo-Canvas canvas {
	border: 1px solid orange;
	display: block;
}

.image-select-box {
	border: 1px solid orange;
	position: absolute;
	width: 110px;
	height: 110px;
	overflow: visible;
	cursor: pointer;
}

.image-select-box.dragging {
	box-shadow: 0 3px 6px #FFB300;
	cursor: move;
}

.image-select-box-decorator {
	position: absolute;
	background: gray;
	opacity: 0.3;
	overflow: visible;
	cursor: default;
}

.image-select-box-top {
	color:white;
	vertical-align: bottom;
	text-align:center;
}

.image-select-box .plus {
	position:absolute;
	margin-top:-26px;
	font-weight:bold;
	width: 26px;
	height: 26px;
	font-size: 20px;
}

.image-select-box .minus {
	position:absolute;
	margin-left:-26px;
	font-weight:bold;
	width: 26px;
	height: 26px;
	font-size: 20px;
}

.frwk-bottom {
	width: 100%;
	text-align: center;
	color: #325a96;
}

.panel-header { /*DIV*/
	border-bottom:1px solid #F0F0F0;
}

/*Anchor,button*/


/*BarWidget*/


.body {
	text-align: center;
}

.body-tabber {
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	height: 100%;
}

.body-tabber-stack {
	min-height: 600px;
	height: auto !important;
	height: 600px;
	
}


/*FormView*/
/*Let the column of title to align right*/
.wgt-FormView .wgt-LabelImpl {
	float: right;
}

.wgt-FrwkView {
	height: 100%;
}

.wgt-FrwkView>.position-top {
	height: 100%;
}

/*HeaderView*/
.wgt-HeaderView {
	/*background-color: #034F82;*/
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAALUlEQVQYV2NkCJj/n+HDQwZ0wIQiKCAPl2dCUYmkE1UCSRVCAskYkDxCAs0BANOpCZwFepifAAAAAElFTkSuQmCC);
	width: 100%;
	box-shadow: 0 2px 2px #7D7D7D;
	padding: 0px 0px;
	font-weight: bold;
	margin-bottom: 6px;
}

.wgt-HeaderView>.position-body {
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
}

/*Label*/
.wgt-LabelImpl {
	
}

/**/
.wgt-ManagersView {
	margin-top: 50px;
}

.wgt-ManagersView td {
	vertical-align: top;
}

.wgt-ManagersView .position-left {
	width: 1%;
}

.wgt-ManagersView .position-right {
	width: 1%;
}

.wgt-ManagersView .position-topLeft {
	width: 1%;
	height: 1px;
}

/**/
.position-left .wgt-ManagerView {
	margin-left: 10px;
	margin-top: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

/*Menu*/
.wgt-MenuWImpl {
	background-color: #fff;
	border: 1px solid #CCC;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-box-shadow: 0 3px 6px #C7C7C7;
	-webkit-box-shadow: 0 3px 6px #C7C7C7;
	box-shadow: 0 3px 3px #C7C7C7;
	margin-top: 0px;
	font-weight: bold;
	position: absolute;
}

.wgt-MenuWImpl ul {
	list-style: none;
	margin: 2px 0;
	padding-left: 0;
	background-color: #fff;
}

.wgt-MenuWImpl .wgt-MenuItemWImpl {
	border-width: 0;
	border-radius: 0;
	color: #034F82;
	cursor: pointer;
	display: inline-block;
	float: none;
	margin:0px;
	height: auto;
	padding: 3px 3px;
	position: static;
	text-decoration: none;
	text-align:left;
	white-space: nowrap;
	width: 100%;
	text-shadow: 0 0px 0 #000;
}

.wgt-MenuWImpl li:hover,.wgt-MenuWImpl li:focus,.wgt-MenuItemWImpl:hover
	{
	background: #4BA1DE;
	color: #fff;
}

.wgt-PropertiesEditorImpl .position-left {
	float: none;
	align: right;
}

.wgt-PropertiesEditorImpl .position-right {
	float: none;
	align: left;
}

.wgt-StackWImpl .wgt-PanelWImpl.position-unselected {
	display: none;
}

.wgt-StackWImpl .position-selected {
	display: block;
}

/*Tab*/
.wgt-TabberWImpl.layout-horizental td.position-header {
	border-bottom: 1px solid #888;
	padding: 0px;
}

.wgt-TabberWImpl.layout-horizental .wgt-TabWImpl {
	background: -moz-linear-gradient(top, #eee 100%, #fff 100%);
	/* FF3.6+ */
	background-color: #fff;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 0px;
	cursor: pointer;
	float: left;
	font-weight: bold;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 0px;
}

.wgt-TabberWImpl.layout-horizental .wgt-TabWImpl.position-selected,.wgt-TabberWImpl.layout-horizental .wgt-TabWImpl:hover
	{
	background: #F0F0F0;
	border-bottom: 1px solid #325A96;
	font-weight: bold;
	margin-bottom: 1px;
}

.wgt-TabberWImpl.layout-horizental .wgt-TabWImpl.position-unselected {
	border-left: 0px solid #ccc;
	border-right: 0px solid #ccc;
	border-top: 0px solid #ccc;
	border-bottom: 0px;
}

/*Vertical Tabber*/
.tabber-layout-left {
	vertical-align: top;
	margin-top: 10px;
	width: 179px;
}

.tabber-layout-left ul {
	list-style: none;
	margin: 2px 0;
	padding-left: 0;
	background-color: #fff;
}

.tabber-layout-left ul li {
	color: #034F82;
	cursor: pointer;
	padding-top: 3px;
}

.tabber-layout-left ul .wgt-TabWImpl:hover,.tabber-layout-left ul .wgt-TabWImpl.position-selected
	{
	background: #F0F0F0;
}

/*End of CSS file*/